html
{ --bg: #1f1f1f;
  --color-heading:bisque;
  --color-text:bisque;
  --select-color:#149f83;
  --modal-bg:#4D4D4D;
  --cross-color:#ffffff;
  --hsize:40px;
}

body
{
    background-color: var(--bg) !important;
    color:  var(--color-text) !important;
}

.btn-primary
{
    border-radius: 35%;
}
.btn-dark
{
    background-color: #343a40;
}
.btn-light
{
    background-color: bisque;
}

.titlelink,.titlelink:hover
{
    text-decoration: none;
}

#h1,#gameh1
{
    position: relative;
    display: flex;
    justify-content: center;
    font-size: var(--hsize);
}
#h2
{
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    font-size: var(--hsize);
}

#Winmsgbody
{
    text-align: center;
}

.close
{
    color:var(--cross-color) !important;
}

.modalcolor
{
    background-color: var(--modal-bg) !important;
    color:  var(--color-text) !important;
}

#game
{
    display: none;
}

#singlegame
{
    display: block;
}

.form
{
    width:100%;
    margin:0px;
    padding:0px;
    text-align: center;
}

#gamelogo
{
    display:none;
    position: absolute;
    left:5px;
    width:64px;
    height: auto;
    z-index:1;
    top:16px;
    border-radius:10px;
}

#toggle
{
    position:absolute;
    top:10px;
    right: 10px;
}

.bg-modal
{
    width:100%;
    height: 100%;
    position: absolute; 
    top:0;
    background-color:rgba(255,255,255,.1);
    z-index:2;
    border-radius:4px;
    display:none;
    justify-content:center;
    align-items:center;
    color:black;

    -webkit-transition: all 1.2s ease-in;
    -moz-transition: all 1.2s ease-in;
    -o-transition: all 1.2s ease-in;
    transition: all 1.2s ease-in;

    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px; 
}

.header-modal
{
    padding:1rem;
}

.authmodalclose
{
    position:absolute;
    top:-5px;
    right:10px;
    transform:rotate(45deg);
    color: grey;
    font-size:40px; 
    font-weight: bold;
    cursor:pointer;
}
.authmodalclose:hover
{
    color: black;
}


.content-modal
{
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    text-align:center;
    padding:15px;
    border-radius:5px;
    position: absolute;
    font-family: 'Arimo', sans-serif;
    font-weight: 500;

    -webkit-transition: all 1.2s ease;
    -moz-transition: all 1.2s ease;
    -ms-transition: all 1.2s ease;
    transition: all 1.2s ease;
    
    box-shadow: 3px 5px 20px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);  

    animation: popin 0.5s;
}
#content-modal-body
{
    height:80%;
    width:100%;
}

.logincard
{
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

#signup
{
    display: none;
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

#login-form,#signup-form
{
    width:100%;
    padding:20px;
    text-align: left;
    margin: 0px;
}

#login-form input,#signup-form input
{
    margin:10px auto;
    width:100%;
    height:10%;
    padding:5px;
    transition: all 0.5s ease;
    margin-top:0px; 
}

#login-form button,#signup-form button
{
    width:30%;
    display: block;
}
#login-form label,#signup-form label
{
    margin:0px;
}

#login-form p,#signup-form p
{
    margin:0px;
    font-size:13px;
    color:red;
    position: relative;
    top:-10px;
}

#login-form label:last-of-type,#signup-form label:last-of-type
{
    font-size:13px;
}

.redborder
{
    border-color:red;
}

#errormsg
{
    display: none;
    color:red;
    font-size:10px;
    margin-bottom: 10px;  
}

#Msg
{
    text-align: center;
}

#gamemode
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    padding:auto;
    height: 60vh;
    width:30vh;
}

#histtable
{
    margin:auto;
    width:50%;
    text-align: center;
}
#matchtable
{
    width: 100%;
    text-align: center;
    table-layout: fixed;
    text-overflow: ellipsis;
}


.red
{
    color:red;
}

.green
{
    color:#64a166;
}

.grey
{
    color:#747880;
}

.histscore
{
    font-size:20px;
}

.lightmtchbg
{
    background-color: #363535;
}

#gamemode button
{
    width:80%;
    height: 10%;
}

#info
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    padding:auto;
    width:50vh;
    height: 70vh;
}

#showlogin
{
    position: absolute; 
    right:15px;
    top:25px;
    z-index: 1;
}

#logout
{
    position: absolute; 
    right:15px;
    top:25px;
    z-index: 1;
}

#singlemode
{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    padding:auto;
    height: 60vh;
    width:30vh;
}

#multimode
{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    padding:auto;
    height: 60vh;
    width:30vh;
}

#h6
{
    font-size:1.3vw;
}

h1
{
    color:var(--color-heading);
}

.displayarea
{
    display: flex;
    justify-content: center;
    text-align: center;
}

#joinname
{
    margin-bottom: 3%;
}

.errorclass
{
    border:3px solid crimson;
}

#switch
{
   padding:1px;
}

#starwars
{
    height: auto;
    width:6vw;
    padding: 0px;
}

.score
{
    padding:10vw;
    font-size: 2em;
    word-wrap: break-word;
}
.left
{
    padding-right:0;
}
.right
{
    padding-left:0;
}

.playarea
{
    display: flex;
    flex-wrap: wrap;  
    margin:1.5vw 15vw;
    margin-top: 3%;
    justify-content: center;
}

.box
{
    border:2px solid var(--color-text);
    width: 150px;
    height:150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:100px;
    font-family: 'Baloo 2', cursive;
}

@keyframes popin
{
    0%{ opacity:0; transform: scale(0.3);}
    100%{ opacity:1; transform: scale(1);}
}

.box:hover
{
    cursor: pointer;
}

.box#box1
{
    border-width:0px 2px 2px 0px;
}
.box#box2
{
    border-width:0px 2px 2px 2px;
}
.box#box3
{
    border-width:0px 0px 2px 2px;
}
.box#box4
{
    border-width:2px 2px 2px 0px;
}
.box#box5
{
    border-width:2px 2px 2px 2px;
}
.box#box6
{
    border-width:2px 0px 2px 2px;
}
.box#box7
{
    border-width:2px 2px 0px 0px;
}
.box#box8
{
    border-width:2px 2px 0px 2px;
}
.box#box9
{
    border-width:2px 0px 0px 2px;
}

input[type=checkbox]
{
    height: 0;
    width: 0;
    visibility: hidden;
}

input:checked + label
{
    background: grey;
}
input:checked + label:after 
{
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after
{
    width: 20px;
}

.vscard
{
    display: flex;
    justify-content: center;
}
#vs
{
    padding:0.5vw;
}

#player_name
{
    background-color: var(--select-color);
    float:right;
    padding:0.5vw;
    border-radius: 20px;
}

#opp_name
{
    float:left;
    padding:0.5vw;
    border-radius: 20px;
}

.left-text
{
    text-align: left;
}

.center
{
    text-align: center;
}

.right-text
{
    text-align: right;
}

[class*="container"]
{
    margin:5vw;
}

.first
{
    font-size: 1.5em;
    font-weight:500;
}
.second
{
    font-size: 1.5em;
    font-weight:500;
    visibility: hidden;
}

footer
{
    text-align: right;
    bottom: 0;
}

@media screen and (max-width:1204px)
{
    .playarea
    {
        margin:0vw 0vw;
        margin-top: 3%;
    }
}


@media screen and (max-width:994px)
{
    .box
    {
        font-size:90px;
        width: 130px;
        height:130px;
    }
}

@media screen and (max-width:975px)
{
    .score
    {
        padding:8vw;
    }
    html
    {
        --hsize:35px;
    }
    .playarea
    {
        margin:0vw 0vw;
        margin-top: 3%;
    }
}

@media screen and (max-width:880px)
{
    .score
    {
        padding:6vw;
    }
    .playarea
    {
        margin:0vw 0vw;
        margin-top: 3%;
   
    }
    html
    {
        --hsize:32px;
    }
    .box
    {
        width: 125px;
        height:125px;
        font-size: 85px;
    }
    html
    {
        --hsize:33px;
    }
}

@media screen and (max-width:685px)
{
    .score
    {
        padding:6vw;
    }
    .playarea
    {
        margin:0vw 0vw;
        margin-top: 3%;
    }
    html
    {
        --hsize:32px;
    }
    .box
    {
        width: 120px;
        height:120px;
        font-size: 80px;
    }
    html
    {
        --hsize:33px;
    }
}

@media screen and (max-width:665px)
{
    .score
    {
        padding:0vw;
        
        visibility: hidden;
    }
    .playarea
    {
        margin:0vw 0vw;
        margin-top: 3%;
   
    }
    .box
    {
        width: 150px;
        height:150px;
        font-size:100px;
    }
   
    .second
    {
        visibility:inherit;
    }
    html
    {
        --hsize:32px;
    }
}

@media screen and (max-width:596px)
{
    .playarea
    {
        margin:0vw 0vw;
        margin-top: 3%;
   
    }
    .box
    {
        width: 145px;
        height:145px;
        font-size:95px;
    }
    #showlogin
    {
        display: none;
    }  
}

@media screen and (max-width:582px)
{
    .box
    {
        width: 130px;
        height:130px;
        font-size:90px;
    }
    html
    {
        --hsize:31px;
    }
}
@media screen and (max-width:520px)
{
    #gamemode
    {
        margin-top:10%;
    }
    
    .playarea
    {
        margin:0vw 0vw;
        margin-top: 15%;
        padding: 0px;
    }
    
    .box
    {
        width: 120px;
        height:120px;
        font-size:80px;
    }
    
    .right-text
    {
        text-align: center;
    }
    
    .left-text
    {
        text-align: center;
    }
    #player_name
    {
        float:none;
    }
    #opp_name
    {
        float:none;
    }
    html
    {
        --hsize:28px;
    }

    #gameh1
    {
        display: none;
    }

    #gamelogo
    {
        display: block;
    }

}

@media screen and (max-width:490px)
{
    .box
    {
        width: 100px;
        height:100px;
        font-size:70px;
    }
    
    .playarea
    {
        margin:10vw 10vw;
        margin-top: 20%;
        padding: 0px;
    }
    .score
    {
        width:7vw;
    }
    
    .right-text
    {
        position: relative;
        top:-30px;
    }
    
    #vs
    {
        position: relative;
        top:-30px;
    }
    .left-text
    {
        position: relative;
        top:-30px;
    }
    html
    {
        --hsize:27px;
    }
    #h2
    {
        margin-bottom: 0px;
    }

}

@media screen and (max-width:455px)
{
    .playarea
    {
        margin:10vw 5vw;
        margin-top: 20%;
        padding: 0px;
    }
    .score
    {
        width:8vw;
    }
    html
    {
        --hsize:25px;
    }

}
@media screen and (max-width:415px)
{
    .playarea
    {
        margin:10vw 5vw;
        margin-top: 20%;
        margin-bottom: 60%;
        padding: 0px;
    }
    .box
    {
        font-size:65px;
    }
    .score
    {
        width:0vw;
    }
    
    .right-text
    {
        position: relative;
        top:-220px;
    }
    
    #vs
    {
        position: relative;
        top:-220px;
    }
    .left-text
    {
        position: relative;
        top:-220px;
    }
    html
    {
        --hsize:20px;
    }

}

@media screen and (max-width:340px)
{
    .playarea
    {
        margin:10vw 5vw 25vw;
        margin-top: 30%;
        margin-bottom: 80%;
        padding: 0px;
    }
    .box
    {
        width: 90px;
        height:90px;
        font-size:60px;
    }
    .score
    {
        width:0vw;
    }
    html
    {
        --hsize:26px;
    }

}

@media screen and (max-width:318px)
{
    html
    {
        --hsize:25px;
    }
        
    .playarea
    {
        margin:10vw 5vw 25vw;
        margin-top: 30%;
        margin-bottom: 80%;
        padding: 0px;
    }
    .box
    {
        width: 90px;
        height:90px;
        font-size:55px;
    }

    .score
    {
        width:0vw;
    }
    
    .right-text
    {
        position: relative;
        top:-200px;
    }
    
    #vs
    {
        position: relative;
        top:-200px;
    }
    .left-text
    {
        position: relative;
        top:-200px;
    }

}
